#########################
# Warcraft Game Files
#########################

Cache/*
Data/*
Logs/*
Screenshots*/
Utils*/
Interface/Addons/Blizzard_*
Updates/*
*.exe
*.dll
*.*fil
*.db
*cache*.*
*.manifest
*.mpq